* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  margin-top: 70px;
}

.programs_views {
  /* background-color: #d5cccc;  */
  padding: 20px;
}

.calendar_views {
  /* background-color: #777; */
  padding: 20px;
}

.time_slot {
  min-height: 30px;
}

.side_nav_collapse[aria-expanded="true"] {
  border: 1px solid red !important;
}