* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  margin-top: 70px;
}

.programs_views {
  /* background-color: #d5cccc;  */
  padding: 20px;
}

.calendar_views {
  /* background-color: #777; */
  padding: 20px;
}

.right_panel {
  padding-left: 80px !important;
}

.calender_heading {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.time_slot {
  min-height: 60px;
  position: relative;
}

.side_nav_collapse[aria-expanded="true"] {
  border: 1px solid #4ace54 !important;
}

.division_events {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.division_events li {
  background: #eeeaea82;
  padding: 5px;
  border-radius: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_nav_collapse {
  margin-top: 20px;
  background: #eeeaea82;
  padding: 10px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

span.time_slot_name {
  position: absolute;
  top: -12px;
  left: -70px;
}

.calendar_event {
  background: #36d136;
  border-radius: 10px;
  color: #fff;
  padding-left: 12px;
}

.calendar_event.black {
  background: #000;
  color: #000;
}

.text-align-right {
  text-align: right;
  color: green;
  font-size: 20px;
}

.custom_checkbox.mr-5 {
  margin-right: 6px;
}